

#saffron {
    background-color: rgb(255, 104, 32);
    height: 250px;
    width: 1000px;
    
    
}


#green{
    background-color: rgb(4, 106, 56);
    height: 250px;
    width: 1000px;
}



#wheel{
    background-color: navy;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 380px;
}